= form_for @branch do |f|
  .card
    .card-header
      %h1.text-center=title
    .card-body
      = render 'layouts/model_errors', resource: @branch
      .form-group
        = f.label :version
        = f.text_field :version, class: 'form-control'
    .card-footer
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', branches_path, class: 'btn btn-danger'
