
.row 
  .col-12.col-md-6.offset-md-3 
    .card 
      .card-header 
        %h3 Redirection for #{@page.path}
      .card-body 
        = label_tag 'redirection_type', 'Redirection type'
        = select_tag 'redirection_type', options_for_select(redirection_options_for_select(@page, @branch)), class: 'form-control', id: 'redirection-selector'
        %hr 
        #new_page_form.hidden
          = render 'new_form', page: @page
        #deleted_page_form.hidden 
          Deleted page form 
        #renamed_page_form.hidden 
          = render 'rename_form', rename_form_params(@branch, @page)
      .card-footer 
        = link_to 'Cancel', branch_path(@branch), class: 'btn btn-danger'

= javascript_pack_tag 'redirection_type_selector'